In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from comtrade import Comtrade
import seaborn as sns

##### Functions to be used

In [2]:
def data_frames_creation(paths):
    temp=[]
    for i in range (0, len(paths)):
        rec = Comtrade()
        rec.load(paths[i][0],paths[i][1])
        samples_list=[]
        for j in range (0, len(rec.analog)):
            samples_list.append(rec.analog[j])
        abc=pd.DataFrame(samples_list)
        abc=abc.transpose()
        abc.columns=rec.analog_channel_ids
        time=pd.Series(data=rec.time,name='Time')
        abc=pd.concat([time,abc],axis=1)
        temp.append(abc)
        samples_list=[]
    return temp

In [3]:
import os
def getPath(file_id, file_type):
    response = ''
    directory = "C:\\Users\\Mahnoor Saeed\\Dissertation_Notebook\\cable_failure_dataset\\DAT_Files"
    if file_type == 2:
        directory = "C:\\Users\\Mahnoor Saeed\\Dissertation_Notebook\\cable_failure_dataset\\CFG_FILES"
    for path in os.listdir(directory):
        full_path = os.path.join(directory, path)
        if os.path.isfile(full_path):
            if str(file_id) in full_path:
                response = full_path
    return response

In [4]:
def single_point_visula(cols,data):
    plt.figure(figsize=(11,2))
    plt.title('Currents Amplitude Vs Time of '+cols)
    plt.plot(data['Time'],data[cols],color='#0FE279')
    plt.xlabel('Time', fontsize=8)
    plt.ylabel('Current (amp)', fontsize=7)

In [5]:
def box_plots(data,b):
    plt.figure(figsize=(11,3))
    plt.title('Distribution of Data Point '+ str (b))
    sns.boxplot(data=data,color='#B0FC21')
    plt.xlabel('Phases', fontsize=9)
    plt.ylabel('Current (amp)', fontsize=10)

In [6]:
def pred_fal_good_Visualization(dataframe, wrong_phases,columns):
    for f in range (0,len(dataframe)):
        if wrong_phases[f]=='A':
            plt.figure(figsize=(15,3))
            plt.title('Failure Sample '+str(f)+' Amplitude Vs Time of '+columns[0])
            plt.plot(dataframe[f]['Time'],dataframe[f]['MPI3p1:I A'],color='#E9967A')
        if wrong_phases[f]=='B':
            plt.figure(figsize=(15,3))
            plt.title('Failure Sample '+str(f)+' Amplitude Vs Time of '+columns[1])
            plt.plot(dataframe[f]['Time'],dataframe[f]['MPI3p1:I B'],color='#108A0D')
        if wrong_phases[f]=='C':
            plt.figure(figsize=(15,3))
            plt.title('Failure Sample '+str(f)+' Amplitude Vs Time of '+columns[2])
            plt.plot(dataframe[f]['Time'],dataframe[f]['MPI3p1:I C'],color='#0282B9')
        if wrong_phases[f]=='N':
            plt.figure(figsize=(15,3))
            plt.title('Failure Sample '+str(f)+' Amplitude Vs Time of '+columns[3])
            plt.plot(dataframe[f]['Time'],dataframe[f]['MPI3p1:IN'],color='#C794F2')

###### `********************************************************************************************************************`

##### Data Loading

In [7]:
ten_PCA=pd.read_csv('Ten_com_clustering.csv')

In [8]:
ten_PCA

,0,1,2,3,4,5,6,7,8,9
0,2.830884,8.580550,2.774573,0.641181,-7.168530,-1.104771,1.894047,-5.412984,1.583284,0.830844
1,-4.788867,-0.498745,-0.944547,-1.322923,-0.591680,-1.744588,-0.108161,-0.917602,0.588509,0.450334
2,-5.233771,-1.237416,-0.506529,-1.299563,0.073412,-1.546662,-0.479615,0.664447,-0.059387,-0.025794
3,-5.386195,-1.591150,-0.436119,-1.474051,0.464529,-2.171660,-1.002498,2.018363,-0.580396,-0.352329
4,13.467183,18.572993,10.402101,-6.395342,-12.177296,1.169320,-1.867168,-3.567155,0.990452,0.849507
...,...,...,...,...,...,...,...,...,...,...
1367,-5.349112,-1.602523,-0.481078,-1.606604,0.191155,-4.327668,-1.521155,2.772541,-0.701784,-0.407759
1368,2.051434,-2.748670,10.543580,14.972252,-0.277110,-1.799205,-0.451215,2.174135,0.234526,0.467252
1369,-0.206142,-1.904952,7.268132,10.390216,-0.533813,-1.092003,0.112648,1.100844,-0.061459,0.402910
1370,3.501110,-3.485059,12.022376,17.146135,1.218020,0.238584,-0.955874,2.919558,0.445087,0.569274
1371,-5.286058,-1.639099,0.399908,-0.192786,0.420205,-0.649780,-0.306105,1.156671,-0.291079,-0.169158

In [9]:
ten_PCA.isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

##### Shuffling and Splits

In [11]:
np.random.seed(15)
ten_PCA_shuffle=ten_PCA.sample(frac=1)

In [12]:
ten_PCA_shuffle

,0,1,2,3,4,5,6,7,8,9
1162,18.900593,7.685382,-15.157486,6.523135,-4.044788,2.220274,0.029895,3.851790,-6.187300,5.533229
1273,0.550307,-1.629665,8.600465,12.585270,-0.912896,-0.894209,1.063689,1.873475,-0.663286,-0.567848
453,-5.308057,-1.342283,-0.116219,-0.875998,0.984452,3.815958,0.669778,-0.802386,-0.005623,0.013601
119,-3.434471,1.594578,-1.135511,0.401487,-3.410991,-2.416212,1.666039,-6.624955,3.084994,2.160369
524,-5.298180,-1.397385,-0.240579,-1.012947,0.523284,0.057578,-0.258810,0.640999,-0.235362,-0.077956
...,...,...,...,...,...,...,...,...,...,...
1223,-5.444736,-1.613850,-0.648922,-1.750149,0.487046,-2.679998,-1.235125,2.397514,-0.757377,-0.514581
667,-3.350748,0.015149,0.744730,2.047355,-1.236139,-1.809632,0.531114,-1.482321,1.014714,1.060164
156,-5.231132,-1.136684,-0.869639,-1.632834,0.109133,-1.875198,-0.760475,1.061335,-0.338354,-0.253067
384,-5.308184,-1.483116,-0.614426,-1.571544,0.242343,-3.311663,-1.320212,2.348862,-0.681985,-0.438442
645,6.297801,9.092495,4.898389,-2.146908,-4.845363,0.238755,-0.174993,-1.452243,0.225212,-0.993290

In [13]:
engin_df=pd.read_csv('eng_features.csv')
engin_df.head()

   Fault ID Phase  Trigger Time  Data Length  Min Value  Max Value      Mean
0    100412     A      0.500458         4819  -2.024911   2.024911 -0.004005
1    100412     B      0.500458         4819  -0.002690   0.002642  0.000082
2    100412     C      0.500458         4819  -0.001794   0.002242  0.000003
3    100412     N      0.500458         4819  -0.001860   0.001843 -0.000041
4    100444     A      0.500355         9996  -6.046172   6.050384 -0.001698

In [14]:
np.random.seed(15)
engin_df_shuffle=engin_df.sample(frac=1)
engin_df_shuffle

,Fault ID,Phase,Trigger Time,Data Length,Min Value,Max Value,Mean
1162,120855,C,0.500101,9999,-5.733909,5.706513,0.000350
1273,131856,B,0.500201,2014,-2.981030,0.332812,-0.047808
453,121445,B,0.500298,9991,-0.003330,0.002470,-0.000264
119,85146,N,0.500017,7032,-0.244915,0.247262,0.000790
524,81930,A,0.500207,2987,-0.002151,0.002950,0.000065
...,...,...,...,...,...,...,...
1223,82951,N,0.500099,9993,-0.002363,0.002067,-0.000058
667,110825,N,0.500430,3239,-0.426671,0.441633,0.000866
156,90153,A,0.500172,10032,-0.002498,0.002771,0.000042
384,114801,A,0.500124,5747,-0.002085,0.002282,0.000057
645,105600,B,0.500011,10000,-2.944243,2.949479,0.002331

In [15]:
train_set_len=round(len(ten_PCA_shuffle)*0.6)

In [16]:
test_set_len=round(len(ten_PCA_shuffle)*0.4)

In [17]:
print(train_set_len)
print(test_set_len)

823
549

In [18]:
train_set=ten_PCA_shuffle.iloc[0:823,:]

In [19]:
test_set=ten_PCA_shuffle.iloc[823:,:]

In [20]:
test_set

,0,1,2,3,4,5,6,7,8,9
61,1.867915,7.122117,2.428127,1.197010,-6.717889,-2.230991,1.611480,-5.004554,1.968459,0.799677
400,10.572719,10.672930,-6.895636,3.174418,0.215139,-2.297069,2.746409,-5.700949,3.471561,3.333145
1259,-5.357977,-1.449400,-0.721081,-1.799937,0.284226,-3.310237,-1.301927,2.333617,-0.640575,-0.453770
767,-5.386644,-1.436443,-0.041383,-0.941777,0.878549,2.741982,0.408520,-0.382456,-0.022234,-0.079244
1151,-5.412533,-1.548776,-0.233398,-1.188640,0.385145,-1.287826,-0.599664,1.274738,-0.352296,-0.250123
...,...,...,...,...,...,...,...,...,...,...
1223,-5.444736,-1.613850,-0.648922,-1.750149,0.487046,-2.679998,-1.235125,2.397514,-0.757377,-0.514581
667,-3.350748,0.015149,0.744730,2.047355,-1.236139,-1.809632,0.531114,-1.482321,1.014714,1.060164
156,-5.231132,-1.136684,-0.869639,-1.632834,0.109133,-1.875198,-0.760475,1.061335,-0.338354,-0.253067
384,-5.308184,-1.483116,-0.614426,-1.571544,0.242343,-3.311663,-1.320212,2.348862,-0.681985,-0.438442
645,6.297801,9.092495,4.898389,-2.146908,-4.845363,0.238755,-0.174993,-1.452243,0.225212,-0.993290

In [21]:
train_set_engin_df=engin_df_shuffle.iloc[0:823,:]

In [22]:
test_set_engin_df=engin_df_shuffle.iloc[823:,:]

In [23]:
train_set_engin_df

,Fault ID,Phase,Trigger Time,Data Length,Min Value,Max Value,Mean
1162,120855,C,0.500101,9999,-5.733909,5.706513,0.000350
1273,131856,B,0.500201,2014,-2.981030,0.332812,-0.047808
453,121445,B,0.500298,9991,-0.003330,0.002470,-0.000264
119,85146,N,0.500017,7032,-0.244915,0.247262,0.000790
524,81930,A,0.500207,2987,-0.002151,0.002950,0.000065
...,...,...,...,...,...,...,...
1319,100254,N,0.500126,2015,-0.002734,0.035695,0.000051
1177,82149,B,0.500121,9264,-0.002993,0.002733,-0.000039
1180,82323,A,0.500269,10000,-0.002258,0.002139,0.000035
417,120413,B,0.500138,3626,-0.002659,0.002605,0.000065
1109,114904,B,0.500487,4715,-10.197039,10.162441,0.000748

In [24]:
test_set_engin_df

,Fault ID,Phase,Trigger Time,Data Length,Min Value,Max Value,Mean
61,102822,B,0.500432,5455,-2.157604,2.162371,-0.001420
400,115208,A,0.500304,9995,-5.705991,5.728547,0.000854
1259,83611,N,0.500433,9999,-0.002169,0.002343,-0.000009
767,92303,N,0.500266,4167,-0.002047,0.002279,0.000064
1151,120645,N,0.500180,3658,-0.002076,0.002012,-0.000017
...,...,...,...,...,...,...,...
1223,82951,N,0.500099,9993,-0.002363,0.002067,-0.000058
667,110825,N,0.500430,3239,-0.426671,0.441633,0.000866
156,90153,A,0.500172,10032,-0.002498,0.002771,0.000042
384,114801,A,0.500124,5747,-0.002085,0.002282,0.000057
645,105600,B,0.500011,10000,-2.944243,2.949479,0.002331

#### GMM-Diagonal

In [25]:
train_set

,0,1,2,3,4,5,6,7,8,9
1162,18.900593,7.685382,-15.157486,6.523135,-4.044788,2.220274,0.029895,3.851790,-6.187300,5.533229
1273,0.550307,-1.629665,8.600465,12.585270,-0.912896,-0.894209,1.063689,1.873475,-0.663286,-0.567848
453,-5.308057,-1.342283,-0.116219,-0.875998,0.984452,3.815958,0.669778,-0.802386,-0.005623,0.013601
119,-3.434471,1.594578,-1.135511,0.401487,-3.410991,-2.416212,1.666039,-6.624955,3.084994,2.160369
524,-5.298180,-1.397385,-0.240579,-1.012947,0.523284,0.057578,-0.258810,0.640999,-0.235362,-0.077956
...,...,...,...,...,...,...,...,...,...,...
1319,-5.136338,-1.404785,-0.170349,-0.795739,-0.084533,-3.249943,-0.910001,1.570487,-0.260352,-0.106805
1177,-4.840856,-0.472681,-1.087434,-1.421313,-0.679508,-1.902057,-0.121350,-0.997320,0.535654,0.409014
1180,-5.333540,-1.506422,-0.531327,-1.612012,0.592540,-2.108211,-1.166152,2.372930,-0.773741,-0.552208
417,-4.889422,-0.647896,-0.960454,-1.392572,-0.511035,-1.936992,-0.227219,-0.669608,0.488001,0.347218
1109,44.906513,-12.047179,-8.292194,3.528794,-6.354762,5.088106,-13.313511,0.681639,1.194233,-4.708888

In [28]:
np.random.seed(15)
from sklearn.mixture import GaussianMixture
gmm_diag_train = GaussianMixture(n_components=2,covariance_type='diag').fit(train_set)

In [29]:
gmm_diag_train.get_params()

{'covariance_type': 'diag',
 'init_params': 'kmeans',
 'max_iter': 100,
 'means_init': None,
 'n_components': 2,
 'n_init': 1,
 'precisions_init': None,
 'random_state': None,
 'reg_covar': 1e-06,
 'tol': 0.001,
 'verbose': 0,
 'verbose_interval': 10,
 'warm_start': False,
 'weights_init': None}

In [30]:
np.random.seed(15)
gmm_dia_train_labels=gmm_diag_train.predict(train_set)

In [31]:
gmm_dia_train_labels

array([0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0], dtype=int64)

In [32]:
len(gmm_dia_train_labels)

823

In [33]:
gmm_train_lab_df=pd.DataFrame(gmm_dia_train_labels,columns=['Train_labels'])

In [34]:
gmm_train_lab_df

     Train_labels
0               0
1               0
2               1
3               0
4               1
..            ...
818             1
819             1
820             1
821             1
822             0

[823 rows x 1 columns]

In [35]:
from sklearn.metrics import silhouette_score
print('Silhoutte score of GMM clustering is ' + str(silhouette_score(train_set, gmm_dia_train_labels)))

Silhoutte score of GMM clustering is 0.5416784929779948

In [36]:
np.random.seed(35)
gmm_dia_test_labels=gmm_diag_train.predict(test_set)

In [37]:
len(gmm_dia_test_labels)

549

In [38]:
gmm_test_lab_df=pd.DataFrame(gmm_dia_test_labels,columns=['Test_labels'])

In [39]:
gmm_test_lab_df['Test_labels'].value_counts()

1    380
0    169
Name: Test_labels, dtype: int64

In [41]:
print('Silhoutte score of GMM clustering (Test set) is ' + str(silhouette_score(test_set, gmm_dia_test_labels)))

Silhoutte score of GMM clustering (Test set) is 0.5101275269309771

###### Train Sets

In [42]:
from sklearn.metrics import silhouette_score
from sklearn.metrics import calinski_harabasz_score
from sklearn.metrics import davies_bouldin_score

In [43]:
Silhouette_score_trainset=silhouette_score(train_set,gmm_dia_train_labels)
calinski_harabasz_score_trainset=calinski_harabasz_score(train_set,gmm_dia_train_labels)
davies_bouldin_score_trainset=davies_bouldin_score(train_set,gmm_dia_train_labels)

In [44]:
print(Silhouette_score_trainset)
print(calinski_harabasz_score_trainset)
print(davies_bouldin_score_trainset)

0.5416784929779948
318.10877115869835
1.3293554565560555

###### Test Sets

In [45]:
Silhouette_score_testset=silhouette_score(test_set,gmm_dia_test_labels)
calinski_harabasz_score_testset=calinski_harabasz_score(test_set,gmm_dia_test_labels)
davies_bouldin_score_testset=davies_bouldin_score(test_set,gmm_dia_test_labels)

In [46]:
print(Silhouette_score_testset)
print(calinski_harabasz_score_testset)
print(davies_bouldin_score_testset)

0.5101275269309771
188.15569796722716
1.3414168839733014

In [47]:
Evaluation_df=pd.DataFrame({
    'Silhouette Score':[Silhouette_score_trainset,Silhouette_score_testset],
    'Davis Bouldin Index': [davies_bouldin_score_trainset,davies_bouldin_score_testset],
    'Calinski Harabasz Score':[calinski_harabasz_score_trainset,calinski_harabasz_score_testset]
},
index=['Gaussian Mixture Model (Train set)','Gaussian Mixture Model (Test set)'])

In [48]:
Evaluation_df

,Silhouette Score,Davis Bouldin Index,Calinski Harabasz Score
Gaussian Mixture Model (Train set),0.541678,1.329355,318.108771
Gaussian Mixture Model (Test set),0.510128,1.341417,188.155698

#### SPLIT OF 70_30

In [49]:
np.random.seed(25)
ten_PCA_shuffle=ten_PCA.sample(frac=1)

In [51]:
ten_PCA_shuffle

,0,1,2,3,4,5,6,7,8,9
1005,41.852214,-12.813170,-8.195094,4.984016,-9.725252,5.598304,-14.775306,-0.585030,1.412900,-4.774967
462,-5.333208,-1.299534,-0.360486,-1.360576,0.631977,0.478065,-0.268474,0.619764,-0.265030,-0.285198
1137,-5.297162,-1.474865,0.661413,-0.012072,1.838973,9.807523,2.155063,-2.921840,0.390521,0.339375
237,-4.846059,-0.378520,-0.771446,-1.245140,-0.489220,-1.358000,-0.136862,-0.689232,0.383353,0.036318
1228,-5.381191,-1.538539,-0.359770,-1.307722,0.739956,0.072430,-0.488911,1.278608,-0.560915,-0.312931
...,...,...,...,...,...,...,...,...,...,...
1341,2.857337,-1.387099,10.442366,15.903411,-1.112389,-1.705255,0.315903,2.377661,-0.532511,-0.683410
143,-5.046013,-0.558235,-1.063605,-1.619403,-0.550836,-1.695745,-0.196712,-0.647897,0.360508,0.161219
474,-5.344726,-1.411468,-0.622994,-1.622076,0.340331,-2.618512,-1.087158,1.905250,-0.567433,-0.420024
318,-5.406778,-1.553433,0.063428,-0.831008,1.086270,3.430770,0.459433,-0.301009,-0.131173,-0.154138
1156,-5.129146,-0.943213,-0.750100,-1.561751,-0.040366,-1.741500,-0.583171,0.626303,-0.109823,-0.119728

In [50]:
np.random.seed(25)
engin_df_shuffle=engin_df.sample(frac=1)
engin_df_shuffle

,Fault ID,Phase,Trigger Time,Data Length,Min Value,Max Value,Mean
1005,84248,B,0.500340,5013,-10.832032,10.697399,-0.000408
462,121513,C,0.500223,13609,-0.002452,0.002397,-0.000037
1137,120441,B,0.500174,3914,-0.004123,0.002105,-0.000854
237,130410,B,0.500076,9991,-0.004629,0.004740,-0.000029
1228,83027,A,0.500435,9995,-0.002287,0.002348,0.000052
...,...,...,...,...,...,...,...
1341,114742,B,0.500456,2277,-4.186474,0.608466,-0.076768
143,85925,N,0.500315,9996,-0.003908,0.003740,-0.000051
474,80811,C,0.500042,9998,-0.002288,0.002026,-0.000115
318,83645,C,0.500019,6016,-0.002568,0.002324,-0.000079
1156,120806,A,0.500317,10000,-0.003026,0.002913,-0.000063

In [56]:
train_set_len=round(len(ten_PCA_shuffle)*0.7)

In [57]:
train_set_len

960

In [58]:
test_set_len=round(len(ten_PCA_shuffle)*0.3)

In [59]:
test_set_len

412

In [60]:
train_set=ten_PCA_shuffle.iloc[0:960,:]

In [61]:
test_set=ten_PCA_shuffle.iloc[960:,:]

In [62]:
train_set_engin_df=engin_df_shuffle.iloc[0:960,:]

In [63]:
test_set_engin_df=engin_df_shuffle.iloc[960:,:]

In [64]:
np.random.seed(25)
from sklearn.mixture import GaussianMixture
gmm_diag_train = GaussianMixture(n_components=2,covariance_type='diag').fit(train_set)

In [65]:
np.random.seed(25)
gmm_dia_train_labels=gmm_diag_train.predict(train_set)

In [66]:
gmm_train_lab_df=pd.DataFrame(gmm_dia_train_labels,columns=['Train_labels'])

In [67]:
from sklearn.metrics import silhouette_score
print('Silhoutte score of GMM clustering is ' + str(silhouette_score(train_set, gmm_dia_train_labels)))

Silhoutte score of GMM clustering is 0.52258231792828

In [68]:
np.random.seed(25)
gmm_dia_test_labels=gmm_diag_train.predict(test_set)

In [69]:
gmm_test_lab_df=pd.DataFrame(gmm_dia_test_labels,columns=['Test_labels'])

In [70]:
print('Silhoutte score of GMM clustering (Test set) is ' + str(silhouette_score(test_set, gmm_dia_test_labels)))

Silhoutte score of GMM clustering (Test set) is 0.5322610282382332

###### Train Set

In [71]:
Silhouette_score_trainset=silhouette_score(train_set,gmm_dia_train_labels)
calinski_harabasz_score_trainset=calinski_harabasz_score(train_set,gmm_dia_train_labels)
davies_bouldin_score_trainset=davies_bouldin_score(train_set,gmm_dia_train_labels)

In [72]:
print(Silhouette_score_trainset)
print(calinski_harabasz_score_trainset)
print(davies_bouldin_score_trainset)

0.52258231792828
342.959614765617
1.3455282022539343

##### Test Set

In [73]:
Silhouette_score_testset=silhouette_score(test_set,gmm_dia_test_labels)
calinski_harabasz_score_testset=calinski_harabasz_score(test_set,gmm_dia_test_labels)
davies_bouldin_score_testset=davies_bouldin_score(test_set,gmm_dia_test_labels)

In [74]:
print(Silhouette_score_testset)
print(calinski_harabasz_score_testset)
print(davies_bouldin_score_testset)

0.5322610282382332
152.37917428992927
1.3387729248511921

In [75]:
Evaluation_df=pd.DataFrame({
    'Silhouette Score':[Silhouette_score_trainset,Silhouette_score_testset],
    'Davis Bouldin Index': [davies_bouldin_score_trainset,davies_bouldin_score_testset],
    'Calinski Harabasz Score':[calinski_harabasz_score_trainset,calinski_harabasz_score_testset]
},
index=['Gaussian Mixture Model (Train set)','Gaussian Mixture Model (Test set)'])

In [76]:
Evaluation_df

,Silhouette Score,Davis Bouldin Index,Calinski Harabasz Score
Gaussian Mixture Model (Train set),0.522582,1.345528,342.959615
Gaussian Mixture Model (Test set),0.532261,1.338773,152.379174